@font-face {
   font-family: "Poppins";
   src: url(../../public/fonts/Poppins/Poppins-SemiBold.ttf);
}

@mixin font($size, $lHeight) {
   font-family: "Poppins";
   font-size: $size;
   font-weight: 700;
   line-height: $lHeight;
}

.body {
   width: 464px;
   height: 515px;
   border-radius: 24px;
   background-color: var(--white);
   position: relative;
   top: -75px;
}

.title {
   width: 300px;
   height: 50px;
   margin: 0px;
   margin-bottom: 10px;
   position: relative;
   top: 30px;
   @include font(36px, 54px);
}

.img {
   background-image: url(../../public/undraw_adventure_4hum\ 1.svg);
   width: 162px;
   height: 116px;
   position: relative;
   top: -30px;
   left: 302px;
   z-index: 1;
}

.question {
   @include font(24px, 36px);
   position: static;
   color: var(--quiz-question);
   height: 30px;
   width: 270px;
   margin: 68px 0px 30px 32px;
}
.chouse {
   @include font(18px, 27px);
   width: 400px;
   height: 56px;
   color: var(--quiz-chosue-color);
   margin-left: auto;
   margin-right: auto;
   padding: 15px 0px;
   text-align: center;
   border: 2px solid var(--quiz-chouse-border);
   border-radius: 12px;
}
.chouse:hover {
   background-color: var(--quiz-chouse-back);
   border-color: transparent;
}

.btn {
   @include font(30px, 15px);
   width: 100px;
   height: 30px;
   margin: 5px auto 0px auto;
   border: 2px solid var(--quiz-chouse-border);
   border-radius: 12px;
   background-color: var(--white);
}
.btn:hover {
   color: var(--grey);
   background-color: var(--quiz-chouse-back);
   border-color: transparent;
}

.flex {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
