:root {
   --white: white;
   --black: black;
   --grey: grey;

   --aside-background-1: rgba(0, 0, 0, 0.473);
   --aside-background-2: rgba(0, 0, 0, 0.39);
   --aside-background-3: rgba(0, 0, 0, 0.473);

   --link-hover: #35dde9;

   --footer-text: #f2f2f2;

   --btn-border: #171d1c;
   --btn-passQuiz: #9da018;
   --btn-passQuiz-hover: #c0c31d;

   --btn-createQuiz: #491d29;
   --btn-createQuiz-hover: #582331;
}
