@font-face {
   font-family: "Roboto";
   src: url(../public/fonts/Roboto-Regular.ttf);
}

@font-face {
   font-family: "Roboto bold";
   src: url(../public/fonts/Roboto-Bold.ttf);
}

body {
   font-family: "Roboto";
   margin: 0px;
   padding: 0px;
   background-image: url(../public/background.png);
   background-repeat: no-repeat;
   background-size: cover;
}
h1 {
   color: var(--black);
   text-align: center;
   height: 50px;
   margin: 20% 0px 0px 400px;
}
a {
   border-bottom: 2px solid transparent;
   padding-bottom: 1px;
   color: var(--white);
   text-decoration: none;
}
a:hover {
   color: var(--link-hover);
   border-color: var(--link-hover);
}
